{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Welcome toGeocache logger. Save your best foundings in one place.
        </p>
        <p class="box">
            <i class="fa fa-map-marker fa-10x" style="color:rgba(0, 255, 60, 0.898)"><></i>
        </p>
    </div>
</section>
