<form action="/reviews/addreview" method="post">
    <article class="media">
        <figure class="media-left">
            <p class="image is 64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <p class="control">
                <label class="label">Title</label> <input class="input" type="text" placeholder="Title" name="title">
                <input class="input" type="hidden" placeholder="Date" name="date">
                <label class="label">Review</label><textarea class="textarea" placeholder="Add a review.." name="body"></textarea>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button">Post reivew</button>
            </p>
        </div>
    </article>
</form>
