<form class="box" action="/geocache/{{geocache._id}}/addLocation" method="POST">
  <label>Geocache</label>
  <div class="field is-horizontal">
    <div class="field-body">

      <div class="field">
        <input class="input" type="text" placeholder="Geocache Name" name="name">
      </div>

      <div class="field">
        <input class="input" step="0.0000001" maxlength="10" min="-90.0000000" max="90.0000000" type="number" placeholder="Enter latitude" name="latitude"/>
      </div>

      <div class="field">
        <input class="input" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000" type="number" placeholder="Enter longitude" name="longitude"/>
      </div>
      <div class="field">
       <div class="select" >
         <select name="category">
            <option value="Traditional">Traditional</option>
            <option value="Multi-Cache">Multi-Cache</option>
            <option value="Mystery">Mystery</option>
            <option value="Event">Event</option>
            <option value="Locationless">Locationless</option>
            <option value="Letterbox">Letterbox</option>
            <option value="Wherigo">Wherigo</option>
            <option value="Webcam">Webcam</option>
            <option value="Virtual">Virtual</option>
            <option value="EarthCache">EarthCache</option>
         </select>
       </div>
      </div>
      <div class="field">
        <div class="select" >
          <select name="size" >
            <option value="Micro">Micro</option>
            <option value="Small">Small</option>
            <option value="Regular">Regular</option>
            <option value="Large">Large</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Location</button>
</form>
