<form action="/reviews/addReview" method="post">
    <div class="media">
        <div class="media-content">
            <p class="control">
                <label class="label">Title</label> <input class="input" type="text" placeholder="Title" name="title">
                <input class="input" type="hidden" placeholder="Date" name="date">
                <label class="label">Review</label><textarea class="textarea" placeholder="Add a review.." name="body"></textarea>
            </p>
        </div>
    </div>
    <button class="button is-primary">Add Review</button>
</form>
