<div class="box box-link-hover-shadow">
    <table class="table is-fullwidth">
        <thead>
            <tr><th>Reviews</th>
        </tr>
        </thead>
        <tbody>
        {{#each review}}
            <tr>
                <td>
                    {{title}}
                </td>
            </tr>
            <tr>
                <td>
                    {{body}}
                </td>
            </tr>
            <tr>
                <td>
                    {{date}}
                </td>
                <td>
                    {{geocache.name}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
